body {
    background: #efe5d0 url(images/background.gif) top left;
    margin: 20px;
}

/*Используем форму для преставления таблицы в табличном виде и добавляем границу вокруг формы и отступы между содержимым формы и границей,
а также фоновый цвет для того, чтобы форма контрастировала с фоном страницы*/
form {
    display: table;
    padding: 10px;
    border: thin dotted #7e7e7e;
    background-color: #e1ceb8;
}

/*Делаем многострочное поле крупнее*/
form textarea {
    width: 500px;
    height: 200px;
}

/*Каждый div с классом tableRow играет роль строки в макете табличного представления*/
div.tableRow {
    display: table-row;
}

/*Каждый элемент <p>, вложенный в <div> с классом tableRow является ячейкой таблицы.Вертикально выравниваем содержимое в каждом <p>
 чтобы содержимое в каждой строке было выравнено по верху ячеек.Также задаем небольшой отступ,чтобы добавить пространство между строками*/
div.tableRow p {
    display: table-cell;
    vertical-align: top;
    padding: 3px;
}

/*Данное правило задействует псевдоэлемент first-child в селекторе для элементов <p>,вложенных в элементы <div> с классом tableRow
Это означает что первый элемент <p> в каждой строке будет выравниваться по правой стороне,т.е все они будут вертикально выравниваться
относительно правой стороны столбца*/
div.tableRow p:first-child {
    text-align: right;
}

/*Для всех элементов <p> с классом heading выделяем полужирным шрифтом текст*/
p.heading {
    font-weight: bold;
}